{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		{% include 'AppBundle:_parts:selectOts.html.twig' %}
		{% if data is defined %}
			{% if datosEmpresa.codigoEmpresa is defined and minimoExigido.margen is defined and detallePresupuesto.margen is defined %}
				<hr>
				<div class="row">
					<div class="col-md-6">
						<div class="well well-sm">
							{% include 'AppBundle:_parts:datosEmpresa.html.twig' %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="well well-sm">
							{% include 'AppBundle:_parts:minimoExigido.html.twig' %}
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						{% include 'AppBundle:_parts:detallePresupuesto.html.twig' %}
					</div>
				</div>
				{% else %}
				<hr>
				<div class="alert alert-danger">
					<strong>Error!</strong> No existen datos para la OT seleccionada..
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}