<div class="row">
	<div class="col-md-12">
		<form action="" class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">OT</div>
					<select id="select-ot" name="select-ot" class="form-control">
						<option value="">Seleccionar OT</option>
						{% for otDisponible in otDisponibles %}
							<option value="{{ otDisponible }}" {% if otDisponible == ot %}selected="selected"{% endif %} >{{ otDisponible }}</option>
						{% endfor %}
					</select>
					<div class="input-group-btn">
						<button class="btn btn-primary" type="submit">Seleccionar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>